:root{
  --light: #221515;
  --dark:  rgb(245, 236, 236);
  --primary:  #f6f3ee;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--dark);
  color: var(--light);
  padding-bottom: 50px;
}

button{
  cursor: pointer;
  transition: ease-in-out 80ms;
}

button:hover{
  transform: scale(1.05);
}

button:active{
  transform: scale(1);
}